# Application

NODE_ENV=development

# Database

POSTGRES_DB=rip_db
POSTGRES_USER=rip_user
POSTGRES_PASSWORD=rip_password

DATABASE_URL=postgresql://rip_user:rip_password@localhost:5432/rip_db

# Redis

REDIS_HOST=localhost
REDIS_PORT=6379

# JWT

JWT_SECRET=replace_me

# App

API_PORT=3001
WEB_PORT=3000